.sp-num1{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:0 0}
.sp-num2{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-138px 0}
.sp-num3{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-276px 0}
.sp-num4{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-414px 0}
.sp-num5{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-552px 0}
.sp-num6{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-690px 0}
.sp-num7{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-828px 0}
.sp-num8{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-966px 0}
.sp-num9{width:136px;height:136px;background-image:url(sprite/bgimg.png);background-position:-1104px 0}
#CssGaga{content:"170518163359,adn,334"}