.sp-home-page{width:51px;height:42px;background-image:url(sprite/head.png);background-position:0 0}
.sp-alert{width:40px;height:40px;background-image:url(sprite/head.png);background-position:-53px 0}
#CssGaga{content:"170518164211,adn,334"}