.sp-sheet{width:39px;height:40px;background-image:url(sprite/head2.png);background-position:0 0}
.sp-quit{width:36px;height:36px;background-image:url(sprite/head2.png);background-position:0 -42px}
#CssGaga{content:"170518164817,adn,334"}